#ddev-generated
# Remove the line above if you don't want this file to be overwritten when you run
# ddev get julienloizelet/ddev-portainer
#
# This file comes from https://github.com/julienloizelet/ddev-portainer
#
version: '3.6'
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: ddev-${DDEV_SITENAME}-portainer
    hostname: ${DDEV_SITENAME}-portainer
    # These labels ensure this service is discoverable by ddev.
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    security_opt:
      - no-new-privileges:true
    volumes:
      - ".:/mnt/ddev_config"
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./portainer-data:/data:rw
    environment:
      - VIRTUAL_HOST=$DDEV_HOSTNAME
      - HTTP_EXPOSE=9100:9000
